@import "variables.scss";
@import "mixins.scss";

html,
body {
    margin: 0;
    background-color: $mainColor;
    height: 100%;
}

a:link {
    color: $linkColor;
}

a:visited {
    color: darken($linkColor, 10%);
}

a:hover {
    color: lighten($linkColor, 25%);
}



.reportColor {
    background-color: $contrastColor1;
}

.aboutColor {
    background-color: $contrastColor2;
}

.homeColor {
    background-color: $contrastColor3;
}

.moreColor {
    background-color: $contrastColor4;
}

.sessionColor {
    background-color: $contrastColor5;
}

.diceColor {
    background-color: $contrastColor6;
}

.accountColor {
    background-color: $contrastColor7;
}

.adminColor {
    background-color: $contrastColor8;
}

.myContentColor {
    background-color: $contrastColor7;
}

.button {
    min-width: 60px;
    height: 40px;
    list-style: none;
    border-radius: 4px;
    padding: 4px;
    @include vertical-align();
    @include headingFont(22px, $white);
    text-decoration: none;
}

.reportBtn {
    background-color: $contrastColor1;

    &:hover {
        background-color: darken($contrastColor1, 15%);
    }
}

.aboutBtn {
    background-color: $contrastColor2;

    &:hover {
        background-color: darken($contrastColor2, 15%);
    }
}

.homeBtn {
    background-color: $contrastColor3;

    &:hover {
        background-color: darken($contrastColor3, 15%);
    }
}

.moreBtn {
    background-color: $contrastColor4;

    &:hover {
        background-color: darken($contrastColor4, 15%);
    }
}

.sessionBtn {
    background-color: $contrastColor5;

    &:hover {
        background-color: darken($contrastColor5, 15%);
    }
}

.stopBtn {
    background-color: $contrastColor6;

    &:hover {
        background-color: darken($contrastColor6, 15%);
    }
}


.sessionContent {
    width: 100%;
    overflow: hidden;
    .sessionNav {
        width: 180px;
        padding: 0 8px;
        padding-top: 28px;
        margin: 0;
        border-radius: 12px 12px 12px 12px;
        background-color: $mainColor;
        float: left;

        a {
            text-decoration: none;
        }

        .button {
            margin-top: 24px;
        }
    }

    .info {
        overflow: auto;
        padding-top: 40px;
        text-align: center;

        .title {
            width: 60%;
            margin: auto;
            @include headingFont(26px, $mainColor);
        }

        .number {
            height: 120px;
            width: 120px;
            text-align: center;
            margin: auto;
            margin-top: 60px;
            @include headingFont(56px, $mainColor);
        }
    }
}

.allUsersTable {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.5em;
    tr.first {
    background-color: #ddd;
    }

    tr:hover {
        background-color: #eee;
    }

    th {
        font-weight: bold;
        border-bottom: 1px solid #ccc;
    }
}

.diceGameArea {
    .scores {
        width: 30%;
        min-height: 260px;
        float: left;

        .title {
            background-color: $mainColor;
            width: 100%;
            @include headingFont(30px, $white);
            text-align: center;
        }

        span {
            clear: both;
            @include headingFont(26px, $mainColor);
        }
    }

    .game {
        // float: left;
        min-height: 400px;
        overflow: auto;
        padding-left: 20px;

        span {
            clear: both;
            @include headingFont(26px, $mainColor);

            &.status {
                margin-left: 10px;
                font-size: 20px;
            }

            i {
                font-size: 22px;
            }
        }


        //Buttons
        a {
            li {
                float: left;
                width: 120px;
                margin-left: 20px;
                text-align: center;
                margin-top: 20px;

                &:last-child {
                    clear: right;
                }
            }
        }
    }
}


.meImg {
    float: right;
    margin-left: 20px;
    width: 40%;
    max-width: 260px;
}

.codeImg {
    width: 100%;
    margin-bottom: 20px;
}

blockquote {
  background-color: #e7e6e6;
  border-left: 12px solid #ccc;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}


.kmom {
    margin-top: 35px;
    width: 100%;
    .kmomHeader {

        height: 40px;
        background-color: $mainColor;
        padding-left: 20px;
        padding-right: 20px;
        .title {
            @include headingFont(20px, $white);
            @include vertical-align();
            float: left;
        }

        .date {
            @include bodyFont(20px, $white);
            @include vertical-align();
            float: right;
        }
    }

    .text {
        width: 95%;
        margin-top: 20px;

        b {
            font-size: 24px;
        }
    }
}


.header {
    width: 100%;
}

.navCircle {
    float: left;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top: 15px;
    margin-right: 5px;
}

.headerTop {
    width: 100%;
    height: 80px;
    background-color: $mainColor;
}

.headerLogo {
    display: inline-block;
    margin-left: 30px;
    @include headingFont(28px, $white);
    @include vertical-align();
    border-bottom: 3px solid $mainContrastColor;
}

.nav {
    width: 45%;
    float: right;
    padding-right: 40px;
    @include vertical-align();
}


.nav ul {
    list-style: none;
    background-color: $mainColor;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  text-align: left;
  float: right;
  margin-right: 20px;
  display: inline-block;
}


.nav a {
  text-decoration: none;
  color: #fff;
  @include headingFont(24px, $white);
}

.nav a:hover {
    border-bottom: 4px solid $mainContrastColor;
}


.nav a.current {
    color: $mainContrastColor;
}

/* Sub Menus */
.nav li li {
    font-size: .8em;
    padding-bottom: 12px;
    min-width: 20px;
    text-align: center;
    margin-left: 25px;
}

.nav li ul {
    padding-top: 20px;
    position: absolute;
    right: 0;
    padding-right: 2px;
    display: none;
}

.nav li:hover ul {
    display: block;
}



.content {
    width: 100%;
    margin: auto;
    // padding-bottom: 40px;
    background-color: $white;
    min-height: 100%;

    main {
        width: 90%;
        margin: auto;
        padding-top: 20px;
        overflow: auto;
        padding-bottom: 240px;

        .contentHeader {
            width: 85%;
            margin: auto;
            height: 90px;

            .contentTitle {
                @include vertical-align();
                @include headingFont(30px, $white);
                margin: 0;
                text-align: center;
            }
        }

        .contentBody {
            width: 80%;
            min-height: 450px;
            margin: auto;
            margin-top: 20px;
            @include bodyFont(20px, $darkTextColor);
        }
    }
}

.footer {
    background: $mainColor;
    height: 170px;
    margin: auto;
    // margin-top: 20px;
    position: relative;
    margin-top: -170px;
    clear: both;

    .footerCol {
        background-color: $mainColor;
        height: 100%;
        width: 24.9%;
        float: left;
        border-left: 1px solid $darkerMainColor;

        :first-child {
            border-left: none;
        }

        .title {
            width: 90%;
            margin: 10px 10px 5px 10px;
            @include headingFont(18px, $white);
        }

        .body {
            width: 90%;
            margin: 0 12px 5px 12px;
            @include bodyFont(14px, $white);
        }
    }
}


@media (max-width: 640px) {
    .logo {
        display: none !important;
    }

    .header .headerTop .navbar {
        width: 100%;
        float: right;
        padding: 0;
    }
}
