
// Colors
$mainColor: #273238;
$darkerMainColor: #232c30;
$mainContrastColor: #0BACCF;
$contrastColor1: #1e9a61;
$contrastColor2: #426f98;
$contrastColor3: #9E3558;
$contrastColor4: #dd760c;
$contrastColor5: #623b9e;
$contrastColor6: #bb1d3a;
$contrastColor7: #f6cf26;
$backgroundColor: #C8D4D3;
$darkTextColor: #191919;
$white: white;

$linkColor: $mainContrastColor;
